//colors
//color names ala https://colors.artyclick.com/color-name-finder/
$lightTeal: #a7e8bd;
$teaRose: #fcbcb8;
$rose: #efa7a7;
$naplesYellow: #ffd972;
$watermelon: #f25c54;
$dark: #393939;
$light: #ffffff;

.bg-naplesYellow {
  background-color: $naplesYellow;
}
