$breakpoint-phone: 360px;

//portrait tablet per W3 schools https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1280px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
