//from XD & converted to REM. may need increase later
$shadow: 0px 0.625rem 0.375rem rgba($dark, 0.16);
$shadow-dark: 0 0.125rem 0.25rem rgba($dark, 0.5);

// $border-radius: 0.375rem;
$border-radius: 1.625rem;
$border-radius-lg: 1.875rem;
$spacing: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 2rem;

//end TBD

$opacity-light: 60%;
$opacity: 80%;
