.close-holder {
  display: flex;
  justify-content: flex-end;
}

.view-recipe {
  font-family: "Myriad Pro";
  font-size: 1.25rem;
  letter-spacing: 4px;
  line-height: 27px;

  height: fit-content;
}

.top {
  flex-grow: 1;
}
.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe-header {
  display: flex;
  gap: 0.625rem;

  img {
    max-width: 100%;
  }
}

//rotate per Darryl Johnson w/o need for CSS Grid
//https://stackoverflow.com/questions/20880244/rotate-text-90deg-and-vertically-align-with-div
.recipe-title {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
}

.subtitle {
  font-family: "Lato";
  font-size: 1.563rem;
  font-weight: $dark-weight;
  letter-spacing: 5px;
  line-height: 33px;
}

//ensures description doesn't get too big when displaying
.recipe-description {
  max-height: 106px;
  overflow: hidden;
}

.overview,
.ingredients,
.instructions {
  margin-bottom: 3.625rem;
}

//https://stackoverflow.com/questions/20642827/how-do-i-get-the-numbers-of-an-ordered-list-to-align-underneath-a-div-heading
.instruction-list {
  padding: 0;
  list-style-position: inside;
}

@media screen and (min-width: $breakpoint-md) {
  .top {
    display: flex;
    gap: 2.813rem;
    height: 421px;
    margin-bottom: 3.625rem;
    width: 100%;
    .overview {
      height: 100%;
      flex-grow: 1;
    }
  }

  .recipe-header {
    img {
      width: 468px;
      height: 421px;
    }
  }

  //extra aligned here but not on other screen sizes
  //not sure I get why have this difference
  .ingredients,
  .instructions,
  #editButton {
    margin-left: calc(1.688rem + 0.625rem);
  }
}
