//if time could set up form element to be extended

$margin-bottom-large: 5rem;

.form-element {
  border: none;
  border-bottom: 3px solid $dark;

  // height: 60px;
  // padding: 20px;
  padding: 0 0 6.5px 0;

  margin-bottom: $margin-bottom-large;
  width: 100%;
  font-family: "Lato";
  font-weight: $light-weight;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 27px;

  &--small {
    font-size: 0.75rem;
    margin-bottom: 3.125rem;
  }
}

//https://www.w3schools.com/howto/howto_css_placeholder.asp
//fix for Firefox makes placeholder lighter
::placeholder {
  opacity: 1; /* Firefox */
}

//https://www.benmarshall.me/styling-file-inputs/
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.file-input {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  border: none;
  border-bottom: 3px solid $dark;

  padding: 0 0 6.5px 0;

  margin-bottom: $margin-bottom-large;
  width: 100%;
  font-family: "Lato";
  font-weight: $light-weight;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 27px;
}

.form-element:focus,
.file-input:hover {
  background-color: rgba($rose, 0.3);
}

.last-row {
  position: relative;
}

.btn--add {
  // margin-bottom: 6px;
  position: absolute;
  top: -6px;
  right: 0;
}
legend {
  font-family: "Lato";
  font-weight: $dark-weight;
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

//Lato black
//font-weight 900 per https://fonts.google.com/specimen/Lato
#login-form,
#signup-form {
  .form-title {
    font-family: "Lato";
    font-weight: $dark-weight;
    font-size: 1.875rem;
    letter-spacing: 3px;
    line-height: 40px;
  }

  .form-subtitle {
    font-family: "Lato";
    font-style: italic;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    line-height: 15px;
  }
}
.form-title {
  color: $dark;
  font-size: 1.563rem;
  margin-bottom: $spacing-xl;
  font-weight: bold;
}

@media only screen and (max-width: $breakpoint-md) {
  .form-element,
  .file-input {
    font-size: 1rem;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .btn,
  .form-element,
  .file-input {
    font-size: 1rem;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .btn,
  .form-element,
  .file-input {
    font-size: 0.75rem;
  }
}
